{% extends "layout.html" %}
{% block content%}
  <h1>About Us</h1>
  <div>
  <p>Everyone has a story, a struggle, or a journey that you can learn from. </p>
  <p> We can be inspired by just about any woman in our lives, from our daughters to our domestic helpers who uproot their lives to work and support their families from afar.<p>
  <p> so women can share their ideas, opinions and exprience using these platform.
    
   <p> <b>Our main objective of this blog is to inspire and encoureage women at all age.</b>
  </p>
</div>

<div class = "woman">
  <img src="{{ url_for('static', filename='Album/' + 'woman.png') }}" alt="" class="img-fluid">
</div>
{% endblock content%}