{% extends "layout.html" %}
{% block content%}
  {% for post in posts %}
  <article class="media content-section">
    <img class="rounded-circle article-img " src="{{ url_for('static', filename='Album/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%x')}}</small>
      </div>
      <h2><a class="article-title" href="{{url_for('post', post_id=post.id)}}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
      <div class="d-flex justify-content-between">
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('like_post', post_id=post.id) }}" method="POST" class="d-inline-block">
            <button type="submit" class="border-0 bg-transparent">{{post.likes}} <i class="fa-solid fa-heart text-primary"></i></button>
          </form>
        {% endif %}
        {% if current_user.is_authenticated %}
            {% if post.author == current_user %}
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" class="d-inline-block">
              <button type="submit" class="border-0 bg-transparent"><i class="fa-solid fa-trash-can text-danger"></i></button>
            </form>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </article>
  {% endfor %}
{% endblock content%}