<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
    <title>Flask Blog - {{ title }} </title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-5 title1" href="/">WOMEN POWER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{url_for('about') }}">About</a>
          </div>
          <!-- Navbar Right Side --> 
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('new_post') }}"> Create Blog</a>
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Edit Profile</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %} 
              {% if messages %}
                 {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
                 {% endfor %} 
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
          {% if request.path != "/account" and request.path != "/about" %}
            {% if current_user.is_authenticated %}
            <div class="col-md-4">
              <div class="content-section">
                <div class="media">
                  <img class="account-img" style="max-width:130px; max-height:130px" src="{{ url_for('static', filename='Album/' + current_user.image_file) }}">
                  <div class="media-body">
                    <a href="{{ url_for('account') }}" class="account-heading">@{{ current_user.username }}</a>
                    {% if current_user.email|length > 18 %}
                      <p class="text-secondary">{{ current_user.email[:18] }}...</p>
                    {% else %}
                      <p class="text-secondary">{{ current_user.email }}</p>
                    {% endif %}
                  </div>
                </div>
                <div>
                  <h2 class="mb-4">Latest Posts</h2>
                  {% for post in current_user.posts|reverse %}
                    {% if loop.index <= 2 %}
                      <div class="border border-dark mb-4 p-2">
                        <a href="{{url_for('post', post_id=post.id)}}" style="text-decoration:none" class="">
                          <div class="article-metadata">
                            <h3 class="mr-2" href="#">{{ post.title|title }}</h3>
                            <small class="text-muted">{{ post.date_posted.strftime('%x')}}</small>
                            <p class="article-content" style="color:black">{{ post.content }}</p>
                          </div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </main>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
  

  </body>
</body>
</html>